.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.badge-text{
  color: white;
}

.sidebar-container {
  position: fixed;
  margin-top: 90px; /* Ajusta el valor según la altura del NavBar */
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px; /* Ajusta el ancho de la SideBar */
  z-index: 100;
}

.nav-link:hover {
  background-color: #ccc;
  color: #fff;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.content-container {
  margin-top: 100px; /* Ajusta el valor según la altura del NavBar */
  margin-left: 0; /* Elimina el margen izquierdo del SideBar */
  padding: 20px;
}

.flex-grow-1 {
  overflow: auto;
}

@media (max-width: 767px) {
  .sidebar-container {
    display: none;
  }
  
  .sidebar-toggle-button {
    display: block;
  }

  .content-container {
    margin-top: 90px; /* Ajusta el valor según la altura del NavBar */
  }
}

@media (min-width: 768px) {
  .sidebar-toggle-button {
    display: none;
  }
}
